---
import { siteName, siteDescription } from '@/lib/constants'
import Layout from '@/layouts/Layout.astro'
import Navbar from '@/components/Navbar.svelte'
import Khaled from '../components/khaled.astro'
const title = `About ${siteName}`
const description = siteDescription
---

<Layout title={title} description={description}>
  <Navbar client:load active={'/about'} />
  <div class="p-4 sm:p-8 max-w-screen-xl m-auto">
    <div class="grid sm:grid-cols-2 gap-4 sm:gap-8">
      <div class="w-full rounded-xl shadow-lg p-5 mt-16 card">
        <h1 class="text-5xl font-bold mb-2">Et Tu, Bro?</h1>
        <p class="mt-4">
          Like most bros, we struggled finding <strong>high quality, affordable products.</strong>
        </p>
        <p class="mt-4">
          Lost in a daze of mass-produced garbage and overpriced caske re-defining opulence, we knew
          there had to be a better way.
        </p>
        <p class="mt-4">
          Have you ever just wanted to find the best overall product in a genre, without wading
          through over-opinionated troll-spew?
        </p>
        <p class="mt-4">Do you struggle finding good gifts for your significant (br)other?</p>
        <p class="mt-4">Look no further..</p>
        <p class="mt-4">Good stuff, for good bros.</p>
        <p class="mt-4">Welcome to <strong>Cool Toy, Bro! 😎</strong></p>
        <img alt="Cool Toy Bro Logo" class="block w-full h-auto" src="/cooltoybro_lg.png" />
      </div>
      <div class="w-full rounded-xl shadow-lg p-5 sm:mt-16 card">
        <h2 class="text-5xl font-bold">How does it work?</h2>
        <p class="mt-4">
          For some links, we will recieve a small reward, should you decide to purchase a product.
          For others, we simply track whether or not you showed interest from us; nothing more. If
          you do decide to click one of the buy buttons on this site, seriously, bless up 🙏🙌
        </p>
        <p class="mt-4">
          I'm just a bro trying to break out of the matrix, and every one of your clicks gets me
          closer to that goal.
        </p>
        <p class="mt-4">
          In reward, we offer you this DJ Khaled random quote generator, which is actively
          maintained. Enjoy more life, more success, more blessings, more keys.
        </p>
        <p class="mt-4">
          You can <a href="/donate" class="underline">donate to the cause</a> if you feel compelled.
        </p>
        <p class="mt-4">
          For everything else, or you want a dope website like this one, email <span
            class="underline">mike@cooltoybro.com</span
          >
          and I'll get back to you as soon as I can.
        </p>
        <br />
        <Khaled />
      </div>
    </div>
  </div>
</Layout>
