---
import VideoBG from '@/components/VideoBG.svelte'
---

<footer class="mt-16 w-full text-center mb-8">
  <p>Made with ❤️ in Columbus, OH by <a href="mjweaver01.com">Mike Weaver</a></p>
  <VideoBG client:load />
</footer>
