---
import { Image } from 'astro:assets'
const { lp } = Astro.props
---

<script is:inline src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

<style>
  .anotherOne {
    display: inline-block;
    font-size: 2.5em;
    letter-spacing: 0.5pt;
    padding: 0.5em;
    width: 100%;
    max-width: 350px;
    border: solid 1px;
    text-align: center;
    border-top-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.3);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    border-left-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 1px 5px 1px rgb(0, 0, 0);
    transition: 0.1s linear;
    color: #ffffff;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 1);
    background-image: radial-gradient(
      311px at 38% -1%,
      rgb(229, 184, 99) 0%,
      rgb(220, 175, 93) 5%,
      rgb(139, 96, 42) 48%,
      rgb(103, 61, 19) 67%,
      rgb(165, 121, 58) 83%,
      rgb(199, 154, 80) 92%,
      rgb(222, 177, 95) 98%,
      rgb(227, 181, 97) 99%,
      rgb(231, 185, 100) 100%
    );
    cursor: pointer;
    user-select: none;
  }

  .anotherOne:hover {
    background-image: radial-gradient(
      322px at 48% -51%,
      rgb(247, 223, 146) 0%,
      rgb(240, 214, 138) 5%,
      rgb(178, 133, 65) 48%,
      rgb(151, 98, 33) 67%,
      rgb(196, 157, 85) 83%,
      rgb(222, 190, 114) 92%,
      rgb(239, 212, 134) 98%,
      rgb(242, 216, 137) 99%,
      rgb(245, 220, 141) 100%
    );
  }

  .anotherOne:active {
    background-image: radial-gradient(
      311px at 38% -1%,
      rgb(229, 184, 99) 0%,
      rgb(220, 175, 93) 5%,
      rgb(139, 96, 42) 48%,
      rgb(103, 61, 19) 67%,
      rgb(165, 121, 58) 83%,
      rgb(199, 154, 80) 92%,
      rgb(222, 177, 95) 98%,
      rgb(227, 181, 97) 99%,
      rgb(231, 185, 100) 100%
    );
    cursor: pointer;
    box-shadow: 0 1px 1px 1px rgb(0, 0, 0);
  }

  .key {
    font-size: 2.5em;
    padding: 0.5em;
    border-radius: 10px;
    margin-bottom: 1em;
  }

  .key-wrapper.another .key {
    position: relative;
    background: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }

  .key-wrapper.another .key:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 70px;
    width: 60px;
    height: 30px;
    border-top: solid 30px white;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
  }
</style>

<div class="key-wrapper p-4 text-left">
  <div class="text-center w-full"><div class="anotherOne">🔑 Get Blessed</div></div>
  <div id="typed-strings"></div>
  <div
    class={`${
      lp ? 'hidden mt-8' : 'mt-4'
    } key text-3xl pt-4 pb-8 w-full leading-tight !rounded-3xl`}
  >
  </div>
  <Image
    id="khaled-face"
    class="hidden"
    loading="lazy"
    alt="DJ Khaled's Face"
    width="200"
    height="282"
    src="/khaled.png"
  />
</div>

<script>
  // @ts-ignore
  window.khaled = {
    random: 0,
    //quotes array
    keys: [
      'Always have faith. Always have hope.',
      'The key is to make it.',
      'Another one.',
      'The key to more success is a clean heart and a clean face.',
      'Smh they get mad when u have joy.',
      'Baby, you smart. I want you to film me taking a shower.',
      'You smart!',
      'You loyal!',
      'You’re a genius!',
      'I appreciate you!',
      'You smart, you loyal, you grateful. I appreciate that. Go buy your mama house.',
      'We go hard. In everything we do we’re going to accomplish our victory and our goal.',
      // 'We go hard. In everything we do we’re going to accomplish our victory and our goal. If it takes a day, a year, or 20 years, we’re going to win. I haven’t taken a loss because everything I’ve done has been a working process to win. From being a kid on them turntables to becoming where I am is not a loss. It’s a blessing.',
      'Before I went into the studio with Jay Z, Jigga, Hov, I wanted to go to the Marcy Projects in Brooklyn and touch the people and touch the culture.',
      'Give thanks to the most high.',
      'They will try to close the door on u, just open it.',
      'They don’t want you to win. They don’t want you to have the No. 1 record in the country. They don’t want you get healthy. They don’t want you to exercise. And they don’t want you to have that view.',
      'I don’t have no favorite rock bands. I’m a fan of rock music though.',
      'I wanted to see what type of trees is growing in Marcy Projects, what type of water Jay Z was drinking.',
      'Those that weather the storm r the great ones.',
      'The key to more success is coco butter.',
      'I changed… a lot.',
      // "When I turn in my list, obviously every record was important to me. I didn’t just put records on there to put records on there. I was excited that 'All I Do Is Win' could go on there because you hear it at the end of the game and that represents victory. That’s undeniable. You can’t hate on that, it’s impossible.",
      'My fans expect me to be greater and keep being great.',
      'There will be road blocks but we will overcome it.',
      'They don’t want you to jet ski.',
      'Them doors that was always closed, I ripped the doors off, took the hinges off. And when I took the hinges off, I put the hinges on the f*ckboys’ hands.',
      'Put the hinges on the f*ckboys’ hands.',
      'Congratulations, you played yourself.',
      'You want my advice? Don’t play yourself.',
      // 'When I made ‘Hold You Down,’ I was thinking Barry Gordy, Quincy Jones. I was saying to myself, ‘If they was in the studio, what was they thinking.’ So I started thinking DJ Khaled, but inspired by the greats.',
      'I didn’t want to be an artist in the same place I worked. You could always have people that might feel like you would do something more for yourself.',
      'Another one, no. Another two, drop two singles at a time.',
      // 'That’s what we provide you know what I’m saying. When you get DJ Khaled you sound bites. You get documentaries. My interviews will play ten years from now. I ain’t regular like these other people. This is DJ Khaled, this is special cloth alert.',
      'Special cloth alert!',
      'I can deal with everything. I got the answer for anything. This DJ Khaled.',
      // 'God has blessed me because I think. No I know that i’ve been put on this Earth to make people happy, to inspire people and to uplift people. That’s a beautiful thing. But the only downfall about it is that I really don’t have nobody to do that for me. But it makes me super strong because I do know that if I’m having a bad day, I can come up here and make Ebro and y’all laugh and smile.',
      "They don't want you to win.",
      'Lion!!!',
      "Some people can't handle success. I can.",
      "They don't want you to have lunch.",
      'The key to more success is to get a massage once a week.',
      'The key is to stay clean at all times.',
      "The key is to be honest. Be honest, but don't play yourself.",
      "You have to make it through the jungle to make it to paradise. That's the key.",
      'The minute we think we went hard, go harder. We gotta work.',
      'The key is to never be afraid of being yourself.',
      'In life, everyone has a choice. The key is: make the right choice.',
      'The key to success is to have a hammock.',
      'Bless up!',
      "Don't burn no bridge. Only god can walk on water.",
      "What's this, perhaps?",
      'Avocado!',
      'Call me asparagus!',
      "Let's go golfing!",
      "Let's go jetski!",
      'Win, win, win. No matter what.',
      'We gonna win more. We gonna live more. We the best.',
      'God did!!!',
      'Drake did!!!',
      'Life is beautiful!',
      'I call her chandelier!',
      'Gatorade!',
      'I call this, cappucino!',
      'Tell em to bring out the whole ocean!',
      'Have you ever played rugby?',
    ],
    //actual generator
    blessUp: function () {
      var self = this,
        random,
        key = document.querySelector('.key'),
        khaled = document.getElementById('khaled-face'),
        another = document.querySelector('.anotherOne'),
        keyWrapper = document.querySelector('.key-wrapper')

      //random number
      random = Math.floor(Math.random() * self.keys.length)
      //incase we roll the same number as last time
      while (random === self.random) {
        random = Math.floor(Math.random() * self.keys.length)
      }
      self.random = random

      //clear key, re-add span, and re-run typed
      if (key) {
        key.classList.remove('hidden')
        key.innerHTML = '<span><br></span>'
      }

      // @ts-ignore
      new Typed('.key span', {
        strings: [self.keys[random]],
        typeSpeed: 0,
        showCursor: false,
      })

      if (khaled) khaled.classList.remove('hidden')
      if (another) another.innerHTML = '🔑 Another One'
      if (keyWrapper) keyWrapper.classList.add('another')
    },
  }

  //click function to generate
  document.querySelector('.anotherOne')?.addEventListener('click', function () {
    // @ts-ignore
    window.khaled.blessUp()
  })
</script>
