<div class={`overflow-hidden uppercase py-1 mt-16 -mb-16 whitespace-nowrap backdrop-blur-xl`}>
  <div id="marquee">
    <slot />
  </div>
</div>
<script type="module">
  import marquee from 'https://cdn.jsdelivr.net/npm/vanilla-marquee/dist/vanilla-marquee.js'
  new marquee(document.getElementById('marquee'), {
    duplicated: true,
    loop: 'infinite',
    delayBeforeStart: 0,
    speed: 100,
  })
</script>
