<style is:global>
  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }

  #marquee {
    overflow: hidden;
    display: flex;
  }

  .marquee-inner {
    position: relative;
    white-space: nowrap;
    animation: marquee 12s linear infinite;
  }
</style>

<div class="overflow-hidden uppercase py-1 mt-16 -mb-16 whitespace-nowrap card shadow-lg">
  <div id="marquee">
    <div class="marquee-inner">
      <slot />
    </div>
  </div>
</div>
