---
import { Image } from 'astro:assets'
import { siteName, navItems } from '@/lib/constants'
const { active } = Astro.props
---

<nav class="fixed top-0 w-full flex justify-center z-30 transition-all backdrop-blur-xl shadow">
  <div
    class="flex h-16 max-w-screen-xl items-center justify-between w-full p-2 pl-[2px] sm:p-8 overflow-hidden no-scrollbar overflow-x-auto whitespace-nowrap gap-4"
  >
    <a href="/" class="flex items-center font-display text-2xl flex-shrink-0">
      <Image
        alt={siteName}
        class="block w-[65px]"
        src="/cooltoybro_lg.png"
        width="200"
        height="200"
        loading="eager"
      />
    </a>
    <div class="flex gap-4">
      {
        navItems.map((item) => (
          <a href={item.link} class={`${item.link === active ? 'underline' : ''} text-shadow`}>
            {item.title}
          </a>
        ))
      }
    </div>
  </div>
</nav>
