---
import { Image } from 'astro:assets'
import { siteName, navItems } from '@/lib/constants'
const { active } = Astro.props
---

<nav class="fixed top-0 w-full flex justify-center z-30 transition-all backdrop-blur-xl shadow">
  <div
    class="flex h-16 max-w-screen-xl items-center justify-between w-full pl-2 sm:p-8 overflow-hidden no-scrollbar overflow-x-auto whitespace-nowrap gap-4"
  >
    <a href="/" class="flex items-center font-display text-2xl flex-shrink-0">
      <Image
        alt={siteName}
        class="block w-[65px]"
        src="/cooltoybro_lg.png"
        width="200"
        height="200"
        loading="eager"
      />
    </a>
    <div
      id="links"
      class="hidden absolute top-0 left-0 h-[100vh] w-full bg-[rgba(255,255,255,0.98)] sm:relative sm:block z-10"
    >
      <div id="close" class="hamburger-wrapper sm:hidden absolute top-0 right-0 p-4 py-6 z-10">
        <div class="hamburger open invert"><div class="lines"></div></div>
      </div>
      <div class="flex flex-col sm:flex-row gap-4 p-4 sm:p-0">
        {
          navItems.map((item) => (
            <a
              href={item.link}
              class={`${item.link === active ? 'underline' : ''} text-shadow text-[11vw] sm:text`}
            >
              {item.title}
            </a>
          ))
        }
      </div>
    </div>
    <div class="mobile-nav sm:hidden p-4">
      <div id="hamburger" class="hamburger-wrapper">
        <div class="hamburger"><div class="lines"></div></div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('hamburger')?.addEventListener('click', () => {
      links?.classList.remove('hidden')
      document.body.classList.add('no-scroll')
    })
    document.getElementById('close')?.addEventListener('click', () => {
      links?.classList.add('hidden')
      document.body.classList.remove('no-scroll')
    })
  })
</script>
