---
import { ViewTransitions } from 'astro:transitions'
import '@/css/global.scss'

// Define your Props interface with both `title` and `description`
interface Props {
  title: string
  description: string
}

// Extract props from Astro.props
const { title, description } = Astro.props as Props
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>😎</text></svg>"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Add the meta description tag below -->
    <meta name="description" content={description} />
    <!-- Enable SPA mode -->
    <ViewTransitions />
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-L8XSFXBFVQ"></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-L8XSFXBFVQ')
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
